---
layout: default
title: ricardo jorge lopes lab
categories:
 - home
---

<div class="row">
	<div class="col-lg-12">
		<object class="pull-left biglogo" data="/images/logo.svg" type="image/svg+xml"></object>
		<div class="bigtitle logobox">
			ricardo jorge lopes lab
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="smallhead">
      <p>
        The Ricardo Jorge Lopes Lab at the <a class="off" href="https://ciencias.ulisboa.pt/en/perfil/rjlopes">FCUL</a> uses birds to study the importance of key traits on the evolution and long-term conservation of biodiversity. These range from coloration and trophic interactions to host-parasite systems. As Curator of the Avian Collection of the <a class="off" href="https://ciencias.ulisboa.pt/en/perfil/rjlopes">National Museum of Natural History and Science</a>, we promote the value of avian specimens for research.
      </p>

      <p>
        We mainly work with isolated, insular, fragmented, migratory and domesticated species, especially in Iberia, North Africa and Macaronesia.
      </p>
		</div>
	</div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/blog/">Recent posts</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for post in site.categories.blog limit:4 %}

	{% for member in site.categories.team %}
		{% if member.title == post.author %}
			{% assign author = member %}
		{% endif %}
	{% endfor %}

	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-comment-o fa-fw"></i>
				<a class="off" href="{{ post.url }}">
				{{ post.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ post.date | date: "%-d %b %Y" }}
        {% if post.author %}
        by <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.author %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.author }}
        </a>
        {% endif %}
        {% if post.authors %}
        by
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.first %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.first }}
        </a>
        and
        <a class="off" href="
          {% for member in site.categories.team %}
            {% if member.title == post.authors.last %}
              {{ member.url }}
            {% endif %}
          {% endfor %}
        ">
        {{ post.authors.last }}
        </a>
        {% endif %}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			<a class="off" href="/papers/">Recent papers</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for paper in site.categories.papers limit:4 %}
	<div class="col-lg-3 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ paper.url }}">
				{{ paper.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ paper.date | date: "%-d %b %Y" }}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>


<div class="spacer"></div>

<div class="row">
	<div class="col-lg-12">
		<div class="head">
			Misc
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 reduced-gutter">
		<div class="pad-left">
			<ul class="list-inline">
				{% for page in site.categories.misc %}
				<li class="footernav list-inline-item">
					<i class="fa fa-angle-right"></i> <a class="off" href="{{ page.url }}">{{ page.title }}</a>
				</li>
				{% endfor %}
				
			</ul>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="float-lg-right" style="vertical-align: bottom; display: table-cell;">
    	<a class="off" href="https://ciencias.ulisboa.pt/en">
        <img width=200 src="/images/logos/logo_fcul.png">
      </a>
      <a class="off" href="https://www.ce3c.pt">
        <img width=200 src="/images/logos/logo_ce3c.png">
      </a>
      &nbsp; &nbsp; &nbsp; &nbsp;
      <a class="off" href="https://www.museus.ulisboa.pt/en">
        <img width=368 src="/images/logos/logo_muhnac.png">
      </a>
    </div>
  </div>
</div>

<a style="display:none;" rel="me" href="https://mstdn.science/@trvrb">Hidden Mastodon Link for Verification</a>
